
= form_for :answer, url: question_answers_path(@question), remote: true, html: { class: "form-horizontal", id: "answer-form"}do |f|
  %fieldset
    .control-group
      = f.label "Your answer: "
    .control-group{:class => (@answer && @answer.errors[:body].length > 0) ? "error" : ""}
      = f.text_area :body, :rows => 3,:style => "width:900px"
      %span.help-inline 
    .control-group.pull-right
      - if @owner
        = f.submit "Answer now", class: "btn", confirm: "Are you sure you want to answer your own question?",:class => "btn btn-primary"
      - else
        = f.submit "Answer now", class: "btn",:class => "btn btn-primary"