= form_for :answer, url: question_answers_path(@question), remote: true, html: { class: "form-horizontal", id: "answer-form"}do |f|
  %fieldset
    .control-group
      = f.label "Answer: "
    .control-group{:class => (@answer && @answer.errors[:body].length > 0) ? "error" : ""}
      = f.text_area :body, :rows => 3
      - if @answer && @answer.errors[:body].length > 0
        %span.help-inline= @answer.errors[:body].last
    .control-group
      - if @owner
        = f.submit "Add", class: "btn", confirm: "Are you sure you want to answer your own question?"
      - else
        = f.submit "Add", class: "btn"