.well.well-small(style="overflow:auto")
  = form_for(@question,:class => "form-horizontal") do |f|
    %fieldset
      %legend Title

      %div.control-group{:class => @question.errors[:title].length > 0 ? "error" : ""}
        %div.controls
          = f.text_field :title,:placeholder => "Question title ...",:style => "width:98%"
          - if @question.errors[:title].length > 0
            %span.help-inline= @question.errors[:title].last

    %fieldset
      %legend Description

      %div.control-group{:class => @question.errors[:body].length > 0 ? "error" : ""}
        %div.controls
          = f.text_area :body, :placeholder => "Question body here...",:rows => 5,:style => "width:98%"
          - if @question.errors[:body].length > 0
            %span.help-inline= @question.errors[:body].last

    %fieldset
      %legend Tags
      %div.controls
        = f.text_field :tags_list, value: "",placeholder: "Put your tags here, separated by comma",:style => "width:98%;"
    %p.pull-right
      %button(type="submit" class="btn btn-primary" style="margin:10px 3px 0px 0px") Ask question
