.well.well-small{:"data-question" => @question.id}
  .media
    .pull-left
      %img.media-object.small{:src => @question.user.avatar.url}
    .media-body
      %h4.media-heading
        %a{:href => question_path(@question)}= @question.title
      %p= @question.body.html_safe
- unless @question.answered?
  = form_for :answer, url: question_answers_path(@question), html: { class: "form-horizontal" }do |f|
    %fieldset
      .control-group
        = f.label "Answer: "
      .control-group
        = f.text_area :body
      .control-group
        = f.submit "Add", class: "btn"
.all_answers
  = render partial: "answer", collection: @question.answers
