!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Index | AnswersBox
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %meta(name="author" content="")
    = stylesheet_link_tag "application"
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    <!-- Fav and touch icons -->
    %link(rel="shortcut icon" href="../assets/ico/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png")
    = javascript_include_tag "application"
    = javascript_include_tag "/faye.js"
    = csrf_meta_tags
  %body#body_id
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid{:style => "max-width: 900px; margin: 0 auto;"}
          %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            %span(class="icon-bar")
            %span(class="icon-bar")
            %span(class="icon-bar")
          %a(class="brand" href=root_path) AnswersBox
          %div.nav-collapse.collapse
            - if current_user
              %p.navbar-text.pull-right
                %span= " &nbsp;|&nbsp;".html_safe
                %a.navbar-text.pull_right{:href => destroy_user_session_path}= "Log out"
              %div.navbar-text.pull-right 
                %span= " &nbsp; points".html_safe
                %span#points_container= current_user.points
              %p.navbar-text.pull-right
                %span= "<i><b>Logged in as #{current_user.full_name}</b></i>".html_safe
             
            - else
              %a{:href => user_omniauth_authorize_path(:facebook),:class => "navbar-text pull-right"} Login
          %ul.nav
            %li(class="active")
              %a(href=root_path) Home
            %li
              %a(href=new_question_path) Ask a question
    %div.container-fluid(style="max-width: 900px; margin: 0 auto;")
      - flash.each do |k,v|
        %div{:class => "alert alert-#{k}"}= v
      = yield
      %hr
      %footer
        %p © AnswerBox
